* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0a0f1c;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #111827;
    position: sticky;
    top: 0;
}

.logo {
    color: #38bdf8;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    text-align: center;
}

.light {
    background-color: #111827;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #1f2933;
    padding: 30px;
    border-radius: 10px;
}

/* WHY */
.why-list {
    list-style: none;
    margin-top: 20px;
}

.why-list li {
    margin: 10px 0;
}

/* FOOTER */
footer {
    background: #020617;
    padding: 40px 20px;
    text-align: center;
}

/* CONTACT FORM */
.contact-form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    padding: 10px;
    background: #38bdf8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background: #0ea5e9;
}
